<div id="editor-container">
    <div class="editor-head">
        <div class="">
            <select id="language-selector" class="form-control drop-down" ng-model="selectedLanguage" ng-change="changeLanguage()">
                <option value="c_cpp">C</option>
                <option value="c_cpp">C++</option>
                <option value="java">Java</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select>
        </div>
        <button id="run-code" class="run-button" ng-click="runCode()">Run Code</button>
    </div>
    <div id="editor"></div>
    <pre id="output" class="mt-2 p-2"></pre>
</div>


<style>
    #editor-container {
        border-radius: 8px; 
        overflow: hidden;
    }

    #editor {
        height: 400px;
        width: 100%;
        border-radius: 8px; 
    }

    #output {
        background-color: #333; 
        color: #fff;
        border-radius: 8px; 
        padding: 10px; 
        white-space: pre-wrap; 
        overflow-x: auto; 
        text-align: left;
    }

    .run-button {
        background-color: rgb(144, 48, 189);
        color: white;
        padding: 8px;
        border : solid;
        border-radius : 10px;
    }

    .editor-head {
        display: flex;
        justify-content: space-between;
    }

    .drop-down {
        border: solid;
        border-radius: 10px;
        margin-bottom: 2px;
    }
</style>
